<h3>FormConductor</h3>

<div class="border">
    <EditForm Model="@conductor" OnValidSubmit="metodo">
        <div class="form-field">

            <div class="col-6">
                <div>
                    <label>Cedula:</label>
                    <InputText @bind-Value="@conductor.cedula" />
                    <ValidationMessage For="@(() => conductor.cedula)" />
                </div>
            </div>
            <div>
                <label>Nombre:</label>
                <InputText @bind-Value="@conductor.nombre" />
                <ValidationMessage For="@(() => conductor.nombre)" />
            </div>
            <div>
                <label>Apellido Paterno:</label>
                <InputText @bind-Value="@conductor.apellido1" />
                <ValidationMessage For="@(() => conductor.apellido1)" />
            </div>
            <div>
                <label>Apellido Materno:</label>
                <InputText @bind-Value="@conductor.apellido2" />
                <ValidationMessage For="@(() => conductor.apellido2)" />
            </div>
            <div>
                <div>
                    <label>Licencia tipo B:</label>
                    <InputNumber @bind-Value="@conductor.licenciaB" />
                    <ValidationMessage For="@(() => conductor.licenciaB)" />
                </div>
                <div>
                    <label>Fecha Vencimiento:</label>
                    <InputDate @bind-Value="@conductor.fechaVencimientoB" />
                    <ValidationMessage For="@(() => conductor.fechaVencimientoB)" />
                </div>
            </div>
            <div>
                <div>
                    <label>Licencia tipo A:</label>
                    <InputNumber @bind-Value="@conductor.licenciaA" />
                    <ValidationMessage For="@(() => conductor.licenciaA)" />
                </div>
                <div>
                    <label>Fecha Vencimiento:</label>
                    <InputDate @bind-Value="@conductor.fechaVencimientoA" />
                    <ValidationMessage For="@(() => conductor.fechaVencimientoA)" />
                </div>
            </div>

            <div>
                <label>Fecha de contratacion:</label>
                <InputDate @bind-Value="@conductor.fechaDeContratacion" />
                <ValidationMessage For="@(() => conductor.fechaDeContratacion)" />
            </div>

            <div>
                <label>Estado:</label>
                <InputText @bind-Value="@conductor.estado" />
                <ValidationMessage For="@(() => conductor.estado)" />
            </div>


        </div>

        <button type="submit" class="btn btn-success">Insertar Conductor</button>

        @*Para que realice las validaciones de los atributos del modelo*@
        <DataAnnotationsValidator />
    </EditForm>
</div>

@code {
    [Parameter] public Conductor conductor { get; set; } = new Conductor();
    [Parameter] public String textoBoton { get; set; } = "Guardar Cambios";
    [Parameter] public EventCallback metodo { get; set; }
}
